<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ASCOM.Ardufocus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Driver_Test_Forms_Application_Template_CSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ASCOM.Ardufocus.Properties.Settings>
            <setting name="DriverOneID" serializeAs="String">
                <value>ASCOM.Ardufocus.Focuser.1</value>
            </setting>
            <setting name="DriverTwoID" serializeAs="String">
                <value>ASCOM.Ardufocus.Focuser.2</value>
            </setting>
            <setting name="ControlForm_X" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ControlForm_Y" serializeAs="String">
                <value>-1</value>
            </setting>
        </ASCOM.Ardufocus.Properties.Settings>
        <Driver_Test_Forms_Application_Template_CSharp.Properties.Settings>
            <setting name="DriverId" serializeAs="String">
                <value />
            </setting>
        </Driver_Test_Forms_Application_Template_CSharp.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RJCP.SerialPortStream" publicKeyToken="5f5e7b70c6a74deb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
